.side-nav {
    position: fixed;
    right: 0px;
    top: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-width: 0 0 1px 1px;
    padding: 0.5rem 2rem;
}

.top-nav {
    padding: 0.25rem 0.75rem;
}

.main-content {
    padding: 1rem 0.75rem;
    width: 70vw;
    min-width: 350px;
    margin: 2rem auto;
    background: #f8f8f8;
    box-shadow: 2px 6px 6px #a7a7a7;
}

.spread-list li {
    display: inline-block;
}

.skip-link-hidden {
    opacity: 0;
    position: absolute;
    left: -999px;

    &:focus {
        position: relative;
        left: 0;
        opacity: 1;
    }
}

.footer {
    padding: 1.5rem;
    width: 100%;
    background: red;
}

.img-wrapper {
    padding: 1rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

input {
    padding: 5px;
    margin: 0.5rem 0;
    display: block;
}